.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.logo {
  font-size: 2rem;
  margin-bottom: 0.8em;
}

.activeLogo {
  color: #53c28b;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7em;
}

.link {
  font-weight: bold;
  padding: 0.3em;
}

.activeLink {
  color: #53c28b;
  border-bottom: 2px solid #53c28b;
}

@media (min-width: 850px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 0;
  }

  .links {
    flex-wrap: nowrap;
  }
}
