.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
}

.icon {
  opacity: 0.7;
}

.copyright {
  opacity: 0.7;
  font-size: 0.9rem;
}

@media (min-width: 850px) {
  .container {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .socials {
    margin-bottom: 0;
  }
}