.subtitle {
  color: #53c28b;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2em;
  text-align: center;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.text h1 {
  font-size: 2rem;
}

.text p {
  font-size: 1rem;
}

.imageContainer {
  position: relative;
  height: 400px;
}

.img {
  object-fit:cover;
  border-radius: 5px;
}

@media (min-width: 850px) {
  .item {
    flex-direction: row;
    gap: 2.5em;
  }

  .item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .text {
    flex: 1;
  }

  .imageContainer {
    flex: 1;
  }
}