.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.input {
  width: 300px;
  padding: 1em;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  border: 3px solid #aaa;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
}

.login {
  text-decoration: underline;
}